@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgray;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form {
    border: 1px solid #000;
    background-color: white;
    text-align: center;
    width: 100px;
    height: 160px;
    padding: 5px;
}

form > input[type="text"] {
    background-color: greenyellow;
    width: 100%;
    margin-bottom: 10px;
}

form > div#botoes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    margin: auto;
}

form > input[value="Enter"], form > input[value="Apagar"] {
    border: none;
    background-color: lightcoral;
    padding: 30px 5px;
    transform: translate(75px, -140px);
}

form > input[value="Enter"]:active, form > input[value="Apagar"]:active {
    background-color: red;
}

form > input[value="Apagar"] {
    margin-top: 5px;
    transform: translate(80px, -140px);
}